<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/webp" href="/udu_clone/img/logo-ptit-small.webp">
    <link rel="stylesheet" href="/udu_clone/icon/css_icon/all.min.css">
    <link rel="stylesheet" href="/udu_clone/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>Chương trình Cử nhân Công nghệ thông tin định hướng ứng dụng</title>
</head>

<body>
    <div class="app">
        {{> header}}

        {{{body}}}

        {{> footer}}
    </div>
</body>

</html>