<main id="main-content">
      <div class="contact-banner research-banner">
        <div class="contact-banner-overlay">
          <div class="contact-breadcrumb">
            <a href="/udu_clone/index.html"><i class="fa-solid fa-house-chimney"></i></a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="/udu_clone/pages/hoat-dong-sinh-vien.html"><span>Giới thiệu</span></a>
            <i class="fa-solid fa-angle-right"></i>
            <span>Cơ cấu tổ chức</span>
          </div>
          <h1 class="contact-banner-title">Cơ cấu tổ chức</h1>
        </div>
      </div>
      <div class="anhtenlabang">
        <div class="container-gioi-thieu">
          <div class="gioi-thieu-chung">
            <img src="/udu_clone/img/Gemini_Generated_Image_la4j63la4j63la4j.png">
          </div>
          <div class="sidebar-wrap">
            <ul class="sidebar-menu" id="sidebarMenu">
              <li class="">
                <a href="/gioi-thieu/gioi-thieu-chung">Giới thiệu chung</a>
              </li>
              <li class="bigger">
                <a href="/gioi-thieu/triet-ly-gd-dau-an-dao-tao">Triết lý giáo dục &amp; Dấu ấn Đào tạo</a>
              </li>
              <li class="bigger">
                <a href="/gioi-thieu/lich-su-hinh-thanh-pt">Lịch sử hình thành &amp; phát triển</a>
              </li>
              <li>
                <a href="/gioi-thieu/doi-ngu-giang-vien">Đội ngũ giảng viên</a>
              </li>
              <li class="active">
                <a href="/gioi-thieu/co-cau-to-chuc">Cơ cấu tổ chức</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>