<header>
    <div class="header">
        <div class="info1">
            <nav class="header-navbar">
                <ul class="nav1-info">
                    <li>
                        <i class="fa-solid fa-globe icon"></i>
                        <span class="slide-bottom-line">Cổng thông tin điện tử Học viện Công nghệ Bưu chính Viễn
                            thông</span>
                    </li>
                </ul>
                <ul class="nav1-another-info ">
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span class="slide-bottom-line">0243.756.1261</span>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope icon"></i>
                        <span class="slide-bottom-line">ript@ptit.edu.vn</span>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook-f icon"></i>
                        <span class="slide-bottom-line">CNTT định hướng ứng dụng PTIT</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="info2">
        <nav class="navbar-info2">
            <img src="/udu_clone/img/logo-ript.png" alt="logo">
            <div class="navbar-list">
                <ul class="navbar-list-ul">
                    <li>
                        <a href="/udu_clone/pages/home.html" class="link">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="link">
                            <span>Giới thiệu</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Giới thiệu chung</a></li>
                            <li><a href="#">Triết lý GD & Dấu ấn Đào tạo</a></li>
                            <li><a href="#">Lịch sử hình thành & PT</a></li>
                            <li><a href="#">Đội ngũ giảng viên</a></li>
                            <li><a href="#">Cơ cấu tổ chức</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="link">
                            <span>Tin tức</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Chứng chỉ hóa</a></li>
                            <li><a href="#">Doanh nghiệp hóa</a></li>
                            <li><a href="#">Quốc tế hoá</a></li>
                            <li><a href="#">Tin khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link">
                            <span>Sự kiện</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="link">
                            <span>Chương trình đào tạo</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Trí tuệ nhân tạo vạn vật (AIoT)</a></li>
                            <li><a href="#">Công nghệ thông tin định hướng ứng dụng</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="/udu_clone/pages/research.html" class="link">
                            <span>Nghiên cứu</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/udu_clone/pages/research.html">Nhóm nghiên cứu</a></li>
                            <li><a href="#">Đề tài NCKH</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="link">
                            <span>Sinh viên</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Liên chi đoàn, CLB</a></li>
                            <li><a href="#">Hoạt động sinh viên</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/udu_clone/pages/contact.html" class="link">
                            <span>Liên hệ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>